<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Allows the application to use the device's accelerometer sensor -->
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <!-- Vibration and Internet permissions -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Activity recognition and boot completed permissions -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- Storage permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <!-- Notification and alarm permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <!-- Network and wake lock permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PokeMengOldManGO"
        tools:targetApi="31">
        <!-- Personal Activities -->
        <activity android:name=".Personal.SetPersonalData" android:exported="false" />
        <!-- First Login Activities -->
        <activity android:name=".FirstLogin.FacebookGoogle" android:exported="false" />
        <activity android:name=".FirstLogin.Logout" android:exported="false" />
        <!-- Daily Check-In Activities -->
        <activity android:name=".DailyCheckIn.CheckIn" android:exported="false" />
        <!-- Location Activities -->
        <activity android:name=".Location.login" android:exported="false" />
        <activity android:name=".Location.MapMainActivity" android:exported="false" />
        <!-- Task Activities -->
        <activity android:name=".Task.TaskScheduled" android:exported="false" />
        <activity android:name=".Task.TaskAdd" android:exported="false" />
        <activity android:name=".Task.TaskAll" android:exported="false" />
        <!-- Challenge Activities -->
        <activity android:name=".Challenge.ChallengeNow" android:exported="false"
            android:attributionTags="com.PokeMeng.OldManGO.ChallengeAll"/>
        <activity android:name=".Challenge.ChallengeAll" android:exported="true"
            android:attributionTags="com.PokeMeng.OldManGO.ChallengeAll"/>
        <!-- Exchange and Prize Activities -->
        <activity android:name=".Prize.ExchangeHistory" android:exported="false" />
        <activity android:name=".Prize.Prize" android:exported="false" />
        <activity android:name=".Prize.RewardDetails" android:exported="false" />
        <!-- Video Activities -->
        <activity android:name=".Video.video_main" android:configChanges="orientation|screenSize" android:exported="false" />
        <!-- Game Activities -->
        <activity android:name=".Game.CardGame" android:exported="false" />
        <activity android:name=".Game.GameView" android:exported="false" />
        <activity android:name=".Game.WashGames" android:exported="false" />
        <activity android:name=".Game.GameCanvasView" android:exported="false" />
        <activity android:name=".Game.ColorGame" android:exported="false" />
        <activity android:name=".Game.GameMain" android:exported="false" />
        <!-- Other Activities -->
        <activity android:name=".Game.dialogInstructions" android:exported="false" />
        <activity android:name=".TEST" android:exported="false" />
        <activity android:name=".Welcome" android:exported="true" />
        <activity android:name=".Medicine.MainActivity5" android:exported="false" />
        <!-- Main Activity -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Receiver -->
        <receiver android:name=".Medicine.AlarmReceiver" />
    </application>
</manifest>